{
  "database": {
    "host": "localhost",
    "user": "username",
    "password": "password",
    "database": "database"
  },

  "basedir": "../results", // relative to this file
  "function_predictor": "346-predictor.json" // relative to basedir
}

